.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f0f4f8;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #34495e;
  margin-bottom: 30px;
}
